
<nav class="navbar navbar-expand-md navbar-dark" style = "background-color: midnightblue">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa d-inline fa-lg fa-cloud"></i>
      <b> King Flyer</b>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <a class="btn navbar-btn ml-3 text-white btn-secondary bg-gradient btn-lg" [routerLink] = "['/adminsignup']">
        <i class="fa d-inline fa-lg fa-user-circle-o"></i> Admin</a>
      <a class="btn navbar-btn ml-3 text-white btn-secondary bg-gradient btn-lg" [routerLink] = "['/signin']">
        <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
      <a class="btn navbar-btn ml-3 text-white btn-secondary btn-lg bg-gradient " [routerLink]="['/signup']">
        <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign up</a>
    </div> 
  </div>
</nav>