<app-userdash-header></app-userdash-header>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form action="/">
  <div class="container">
    <h1>Manage your account</h1>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" name="name"><br>

    <label for="email"><b>Email</b></label>
    <input type="text" name="email"><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" name="psw" ><br>

    <label for="mobile"><b>Mobile No.</b></label>
    <input type="text" name="mobile"><br>

    <label for="gender"><b>Gender</b></label><br>
    <br>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
		<br>
    <button type="submit" class="updatebtn">Update</button>
  </div>
</form>

</body>
</html>
